.aidanews2_topL, .aidanews2_botL {
	float: left;
	width: 50%;
	text-align: left;
}

.aidanews2_topL {
	font-size: 10px;
}

.aidanews2_topR, .aidanews2_botR {
	float: right;
	width: 50%;
	text-align: right;
}

.aidanews2_main {
}

.aidanews2_mainL {
	width: auto;
	float: left;

}

.aidanews2_mainC {
	width: auto;
	overflow: auto;
}

.aidanews2_mainR {
	width: auto;
	float: right;
}

.aidanews2_title {
	padding: 0;
	margin: 0;
	display: inline;
	font-size: 15px;
	border: 0 !important;
}

.aidanews2_title a:link {
	font-weight: bold;
}

.aidanews2_date {
}

.aidanews2 img {
	padding: 2px;
	border: solid 1px #ccc;
	margin-right: 5px;
	float: left;
}

.aidanews2 .readon {
	margin-top: 3px;
}

.aidanews2_positions {
	padding: 2px 5px !important;
}

.aidanews2 .even {
	background-color: #E8E8E8;
}

.aidanews2_line {
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.aidawarning {
	font-weight: bold;
	color: red;
	font-size: 10px;
}

/* Tables */

.aidanews2_table {
	width: 100%;
	margin-bottom: 5px;
	float: left;
}

.aidanews2_table .aidanews2_tabrow {
	clear: both;
	width: 100%;
	margin: 0;
}

.aidanews2_table .aidanews2_tabcol {
	margin: 0;
	float: left;
	display: inline;
}

.aidanews2_table .aidanews2_tabrow .aidanews2_art {
	float: left;
	display: inline;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.aidanews2_table .aidanews2_tabcol .aidanews2_art {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.col_1 {
	border-left: 1px solid #ccc;
}

.row_1 {
	border-top: 1px solid #ccc;
}

/* Bottom Link */

.aidanews2_bottomlink {
	padding: 5px 8px 3px;
}

.aidanews2_bottomlink a:link {
	font-weight: bold;
}

.aidanews2_table .aidanews2_bottomlink {
	border: 1px solid #ccc;
	border-top: 0px;
	width: 25%;
	clear: both;
	background-color: #E8E8E8;
}

/* Rating, Hits, Comments Images */

.aidanews2_rating {
	background: url("../img/default/rating.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

.aidanews2_hits {
	background: url("../img/default/hits.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

.aidanews2_comments {
	background: url("../img/default/comments.png") no-repeat scroll 0 2px transparent;
    padding: 3px 3px 3px 20px;
}

/* New in v 2.0.7 */

.aidanews2_stars_rating {
	display: inline;
	width: 80px;
	height: 16px;
}

.aidanews2_stars_rating img {
	padding: 0;
	border: 0;
	margin: 0;
}

/* Notifiers (v2.1.2) */

span.aidanotifier_new, span.aidanotifier_feat, span.aidanotifier_upd, span.aidanotifier_reg {
	float: right;
	background: #ccc;
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Safari, Chrome */
	border-radius: 8px; /* CSS3 */
	margin: 0 3px;
	padding: 2px 5px;
	font-weight: bold;
	color: #5f5f5f;
}

img.aidanotifier_new, img.aidanotifier_feat, img.aidanotifier_upd, img.aidanotifier_reg {
	float: right;
	border: 0;
}