
/**************************************************************************************/
/*
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: GNU/GPL
/*
/**************************************************************************************/

#as-menu .as-menu,
#as-menu .as-menu *
{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}

#as-menu
{
	background: transparent;
	border-radius: 0;
	position: relative;
	min-height: 60px;
}

#as-menu ul.as-menu
{
	position: relative;
	z-index: 150;
	line-height: 1.0;
	float: right;
	padding: 0px;
	margin: 0px 0px 0px;
}

#as-menu ul.as-menu a
{
	display: block;
	position: relative;
}

#as-menu ul.as-menu li:hover
{
	visibility: inherit;
}

#as-menu ul.as-menu li
{
	float: left;
	position: relative;
}

#as-menu ul.as-menu > li,
#as-menu ul.as-menu > li:hover
{
	padding: 2px 5px 0px;
	margin: 0 5px;
	width: auto !important;
	text-align: center;
	list-style:none;
	background: none !important;
}

#as-menu ul.as-menu > li > a:hover,
#as-menu ul.as-menu > li > span:hover,
#as-menu ul.as-menu > li.active > a,
#as-menu ul.as-menu > li.asHover > a,
#as-menu ul.as-menu > li.current > a,
#as-menu ul.as-menu > li.active > span,
#as-menu ul.as-menu > li.asHover > span,
#as-menu ul.as-menu > li.current > span
{
	background: transparent !important;
	color: #005f8c !important;
}

#as-menu ul.as-menu > li:hover,
#as-menu ul.as-menu > li > span:hover,
#as-menu ul.as-menu > li.active,
#as-menu ul.as-menu > li.asHover,
#as-menu ul.as-menu > li.current,
#as-menu ul.as-menu > li.active > span,
#as-menu ul.as-menu > li.asHover > span,
#as-menu ul.as-menu > li.current > span
{
	border-bottom: 1px solid #005f8c;
}

ul.as-menu > li > a:after,
ul.as-menu > li > span:after,
#as-menu ul.as-menu > li.deeper > a:after
{
	background: none;
	content: "";
	height: 2px;
	position: absolute;
	transition: all 0.5s ease 0s;
	top: -4px;
	width: 100%;
	padding: 0;
	left: 0;
}

#as-menu ul.as-menu > li.firstItem,
#as-menu ul.as-menu > li:first-child
{
	background: none repeat scroll 0 0 transparent
}

.#as-menu navigation #as-menu ul.as-menu > li > a,
#as-menu ul.as-menu > li > span
{
	color: #5F5F5F;
	display: block;
	letter-spacing: 1px;
}

#as-menu ul.as-menu > li > a:hover > span,
#as-menu ul.as-menu > li > span:hover > span
{
	background-position: center bottom !important;
}

#as-menu ul.as-menu li:hover > ul,
#as-menu ul.as-menu li.asHover > ul
{
	top: 15px;
}

#as-menu ul.as-menu ul
{
	width: 191px;
	display: none;
}

#as-menu ul.as-menu ul
{
	position: absolute;
	background-color: #D75E20;
	opacity: 1;
}

#as-menu ul.as-menu li:hover ul,
#as-menu ul.as-menu li.asHover ul
{
	left: 0px;
	top: 37px;
	z-index: 100;
}

#as-menu ul.as-menu li:hover li ul,
#as-menu ul.as-menu li.asHover li ul
{
	top: -999em;
}

#as-menu ul.as-menu ul li
{
	width: 100%;
	margin: 0 0 1px 0;
	list-style: none;
}

#as-menu ul.as-menu ul li a, 
#as-menu ul.as-menu ul li span
{
	color: #ffffff;	
}

#as-menu ul.as-menu ul li a:hover, 
#as-menu ul.as-menu ul li span:hover
{
	color: #000000;	
}

#as-menu ul.as-menu ul > li.deeper > a:after
{
	display: inline-block;
	background: url('../images/ddr.arrow.png') left top no-repeat;
	width: 5px;
	height: 7px;
	position: relative;
	left: 15px;
	top: -2px;
	content: "";
}

#as-menu ul.as-menu ul ul
{
	background-color: #FF7D7D;
	left: 185px !important;
	top: -5px !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#as-menu ul.as-menu ul li.firstItem
{
	border: none;
}

#as-menu ul.as-menu ul li a,
#as-menu ul.as-menu ul li span
{
}

#as-menu ul.as-menu ul li a
{
	line-height: 32px;
	padding: 0;
	text-decoration: none;
	text-align: left;
	margin-left: 20px;
}

#as-menu ul.as-menu ul li:hover
{
}

#as-menu ul.as-menu ul li a:hover,
#as-menu ul.as-menu ul li span:hover,
#as-menu ul.as-menu ul li.active > a,
#as-menu ul.as-menu ul li.asHover > a,
#as-menu ul.as-menu ul li.active > span,
#as-menu ul.as-menu ul li.asHover > span
{
	color: #121212;	
}

#as-menu ul.as-menu li li:hover ul,
#as-menu ul.as-menu li li.asHover ul
{
	left: 10em;
	top: 0;
}

#as-menu ul.as-menu li li:hover li ul,
#as-menu ul.as-menu li li.asHover li ul
{
	top: -999em;
}

#as-menu ul.as-menu li li:hover ul,
#as-menu ul.as-menu li li.asHover ul
{
	top: -1em;
	left: 191px;
}

#as-menu ul.as-menu li li li:hover ul,
#as-menu ul.as-menu li li li.asHover ul
{
	top: -1em;
	left: 191px;
}


/**************************************************************************************/
/*  Vertical version																  */


#as-menu ul.as-menu.as-vertical 
{
     float: none;
	 padding: 17px 0 0 0;
 	 margin: 0px;
 	 border-right: 1px solid #525252;
}

#as-menu ul.as-menu.as-vertical li
{
	float: none;	
}

#as-menu ul.as-menu.as-vertical > li,
#as-menu ul.as-menu .as-vertical> li:hover
{
	padding: 15px 0px 25px;
}

#as-menu ul.as-menu.as-vertical > li.active > a,
#as-menu ul.as-menu.as-vertical > li.current > a,
#as-menu ul.as-menu.as-vertical > li.active > span,
#as-menu ul.as-menu.as-vertical > li.current > span
{
	background-image: url(../images/arrow.active.png) !important;
	background-position: center right !important;
	background-repeat: no-repeat !important;
}

#as-menu ul.as-menu.as-vertical > li + li
{
	margin-left: 0px !important;	
}

#as-menu ul.as-menu.as-vertical li:hover ul,
#as-menu ul.as-menu.as-vertical li.asHover ul
{
	left: 269px;
	top: -3px;
}

@media (max-width: 1199px) 
{

	#as-menu ul.as-menu.as-vertical li:hover ul,
	#as-menu ul.as-menu.as-vertical li.asHover ul
	{
		left: 221px;	
	}

}

@media (max-width: 980px) 
{	

	#as-menu ul.as-menu.as-vertical li:hover ul,
	#as-menu ul.as-menu.as-vertical li.asHover ul
	{
		left: 181px;
	}

}