
/**************************************************************************************/
/*
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: GNU/GPL
/*
/**************************************************************************************/

#phocagallery-module-ri div.mosaic img
{
	width: 170px !important;
	height: 170px !important;
	max-width: none;
	max-height: none;
	box-shadow: none;
	border: 1px solid #ddd !important;
}

@media (min-width: 1200px) 
{
	#phocagallery-module-ri div.mosaic:first-child
	{
		padding-left: 0px !important;
	}
	
	#phocagallery-module-ri div.mosaic:last-child
	{
		padding-right: 0px !important;
	}
}