/***************************************************************************************/
/*
/*		Author: AS Designing
/*		Author URI: http://www.asdesigning.com
/*		Theme URI: http://www.astemplates.com
/*		
/*		Note: Design for a width of 768px (Landscape phone to portrait tablet)
/*
/***************************************************************************************/

@media (max-width: 767px) 
{

	body
	{
		padding: 0 !important;
	}
	
	h1,
	h2
	{
		font-size: 24px;
	}
		
	.container
	{
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	
	.wrapper
	{
		margin: 0;
	}
	
	.wrapper-inner
	{
		padding-top: 0px;
	}
	
	#push
	{
		display: none;
	}

	.header-wrapper
	{
		background-image: none;		
	}

	#as-menu .select-menu option 
	{
		padding: 1px 0 1px 10px;
	}

	#header-top-row .call-us
	{
		margin-left: 20px;	
	}
	
	#header-top-row .moduletable.navigation 
	{
		margin: 20px 0px 0px;	
	}
	
	.masonry_gallery .mod-newsflash-adv .item_content .item_title
	{
		padding-top: 25px;
	}
		
	.page-gallery .item_introtext, 
	.masonry_gallery .mod-newsflash-adv .item_content .item_introtext 
	{
		display: block;
	}

	.masonry_gallery .mod-newsflash-adv .img-intro__none img 
	{
		width: 99%;
		text-align: left;
	}
	
	.masonry_gallery .mod-newsflash-adv .item_img
	{
		width: 100%;
	}
	
	.mod-menu__social
	{
		margin-right: 80px;
	}
	
	#header-row
	{
		position: relative;
	}
	
	#header-row #logo
	{
		margin-bottom: 0px;
		margin-left: 20px;
	}
	
	#header-row .container
	{
		background: none;
		border-bottom: none;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);		
	}
	
	#header-row .moduletable.call-now div 
	{
    	padding: 0px;
	}	
	
	#header-row .mod-search
	{
		margin: 40px;
	}
	
	#header-row .moduletable.call-now
	{
		margin-bottom: 0px;	
	}
	
	#header-row .moduletable.social
	{
		margin: 10px 0px 0px 0px;	
	}
	
	#header-row .moduletable.navigation
	{
		width: 99.5%;
		margin: 0px auto;
		clear: both;
	}
	
	.moduletable.slider
	{
		overflow: hidden;
	}
	
	#slider-row
	{
		display: none;	
	}
	
	.slide_title
	{
		display: none !important;
	}	
	
	#camera-slideshow .camera_caption p,
	.camera_caption
	{
		display: none !important;
	}
	
	.camera_caption a.readmore
	{
		right: inherit;
	}
	
	#header-row .select-menu 
	{
		min-width: 283px;
	}
		
	.mod-newsflash-adv__links .item__module
	{
		width: 48%;
		margin: 0 1% 20px;
		float: left;
	}
	
	#breadcrumbs-row .moduletable
	{
		margin-bottom: 0px;
	}
	
	.page-featured .items-leading .item__featured, 
	.page-featured .items-row:last-child .item__featured
	{
		padding-bottom: 45px;	
	}
		
	.page-blog .items-row.cols-3 .item_img.img-intro 
	{
		width: 98.5%;
	}
	
	.page-blog .cols-2 .item_img 
	{
    	max-width: 100%;
	}

	.page-blog .items-row .span6 .item
	{
		border-bottom: 1px solid #525252;
		margin-bottom: 30px;
		padding-bottom: 20px;
		overflow: hidden;
	}
	
	.page-blog .items-row.cols-2	
	{
		border-bottom: none;
		margin-bottom: 0px;
		padding-bottom: 0px;
		overflow: hidden;
	}	
	
	.page-category__clients .item
	{
		overflow: hidden;
		margin-bottom: 20px;
	}
	
	.page-category__clients .item_img
	{
		float: left;
		margin-right: 20px;
		clear: none !important;
	}
	
	.page-featured .items-row .item__featured
	{
	}
		
	a.btn, a.readmore, 
	.btn_info, 
	.btn-info, 
	.btn-group button.btn, 
	.mod-newsflash a.readmore, 
	.btn-primary, 
	.btn_primary, 
	.contentpane .button
	{
		text-wrap:none;
	}
				
	.item-image.blog-image
	{
		float: none;
		margin: 0 0 20px 0;
	}

	.img-full__left.span5
	{
		width: 50%;
	}
		
	.row-fluid [class*="itemSpan"] 
	{
		display: block;
		float: none;
		margin-left: 0;
		width: auto;
	}
	
	.span9 .row-fluid [class*="span"] .img-intro__none,
	.span9 .row-fluid [class*="span"] .img-full__none,
	.span6 .row-fluid [class*="span"] .img-intro__none,
	.span6 .row-fluid [class*="span"] .img-full__none
	{
		width: 98.5%;	
	}	

	.page-item
	{
		padding-bottom: 0px;
	}
	
	.page-gallery .item_img.img-intro
	{
		float: left;
		margin: 0 20px 20px 0;
		max-width: 69%;
	}
	
	.contact_form
	{
		width: 50%;
	}
	
	.contact_details
	{
		margin-bottom: 20px;
	}
	
	.contact_details .span6
	{
		width: 50%;
		float: left;
	}
	
	.mod-search__aside .mod-search_searchword
	{
		width: 50%;
	}
	
	.mod-login__aside .mod-login_username,
	.mod-login__aside .mod-login_passwd
	{
		width: 50%;
	}

	aside
	{
		margin-top: 0px;
	}
	
	#aside-row-1-left .moduletable,
	#aside-row-2-left .moduletable
	{
		margin-right: 0px;
	}
	
	aside .mod-search button.btn.btn-search 
	{
		margin-top: 0px;
	}
	
	.acymailing_form, 
	.acymailing_form .acysubbuttons
	{
		text-align: left;	
	}
	
	#footer
	{
		height: auto;
	}
	
	#footer p
	{
		margin-bottom: 0;
	}
	
	.mod-footer
	{
		position: relative;
		top: -48px;
	}
	
	.footer-row-1 .span3 .item_img,
	.footer-row-1 .span4 .item_img,
	.footer-row-1 .span3 img,
	.footer-row-1 .span4 img	
	{
		width: auto;	
	}
	
	#content-row-4 #phocagallery-module-ri div.mosaic img,
	#footer-row #phocagallery-module-ri div.mosaic img
	{
		width: 150px !important;
		height: 150px !important;
		max-width: none;
		max-height: none;	
	}
	
	#content-row-4 #phocagallery-module-ri div.mosaic,
	#footer-row #phocagallery-module-ri div.mosaic	
	{
		width: 150px !important;
	}	
	
	#footer #copyright-row
	{
		text-align: center;	
	}
	
	#trademark,
	#copyright-menu
	{
		float: none;
		clear: both;
	}	
		
	.nspArt
	{
		width: 100% !important;
		padding-bottom: 40px !important;
	}
}